<footer class="cf">
    <figure class="col-md-3">
      <a href="http://www.howest.be" target=_blank><img src="<%=static%>/images/howest.png" alt="Sponsor HOWEST" title="Sponsor HOWEST" /></a>
    </figure>

    <figure class="col-md-3">
        <a href="http://www.cody-cms.org" target=_blank><img src="<%=static%>/images/cody.png" alt="Sponsor Cody" title="Sponsor Cody" /></a>
    </figure>

    <figure class="col-md-3">
      <a href="http://www.msdn.be"><img src="<%=static%>/images/msdn.png"  height="140" alt="Sponsor MSDN" title="Sponsor MSDN" ></a>
    </figure>

    <div class="col-md-3">
        <h2><i class="fa fa-envelope visible-phone"></i>contact us</h2>
        <p>Still have some questions? <a href="mailto:info-at-jsconf.be"><i class="fa fa-envelope hidden-phone"></i> drop us an e-mail</a></p>
    </div>

</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="<%=static%>/bootstrap/js/bootstrap.min.js"></script>

<script src="<%=cstatic%>/js/lib/jquery.validate<%=min%>.js"></script>

<script src="<%=static%>/js/script.js"></script>

<% var analytics = page.root.getContent("Google Analytics code"); %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '<%=analytics.data%>', 'auto');
  ga('send', 'pageview');
</script>
