<!doctype html>
<html lang="<%=page.language%>">
<!--<![endif]-->

<% include head.ejs %>

<body id="page<%= page.itemId %>">

  <header>
    <%- render({intro: 'Y'}) %>
  </header>
  <% var refresh = (typeof submitted !== "undefined") ? '?dl=' + new Date().getTime() : ''; %>

  <nav class="navbar">
      <ul class="nav navbar-nav">
        <% for (var i in page.children) { %>
          <li><a href="./<%=page.link+refresh%>#<%= page.children[i].link %>"><%= page.children[i].link %></a></li>
        <% } %>
        <li><a href="./<%=page.link+refresh%>#tickets">Tickets & Pricing</a></li>
        <li><a href="mailto:info@jsconf.be">Contact</a></li>
      </ul>
  </nav>

  <main>

    <% if (typeof submitted !== "undefined") { %>
     <section class="thankyou">
       <div class="container">
        <%if (page.language == "nl") { %>
          <h2>Dank U!</h2>
          <div>
            <p>We houden U op de hoogte en sturen je later nog een email ter bevestiging.</p>
            <p>We zien je zowiezo op 23 april in  <a href="//www.jsconf.be#locality">Howest te Brugge</a>.</p>
            <p class="payment"><i class="fa fa-exclamation-circle"></i>&nbsp;Vergeet niet te betalen op rekening <strong>BE86 0011 1889 0350</strong> BIC: GEBABEBB van jsconf.be, met de nota: jsconf2015 + uw naam.</p>

          </div>

        <% } else { %>
          <h2>Thank you!</h2>
          <div>
            <p>We will keep you informed and send you an email as confirmation in the next coming days.</p>
            <p>See you on April the 23rd at <a href="//www.jsconf.be#locality">Howest Brugge</a>.</p>
            <p class="payment"><i class="fa fa-exclamation-circle"></i>&nbsp;Don't forget to pay to:<br>&nbsp;- IBAN: <strong>BE86 0011 1889 0350</strong><br>&nbsp;- BIC: GEBABEBB of jsconf.be, Rijselstraat 5, 8200 Brugge<br> with the remark: jsconf2015 + your name.</p>
          </div>
        <% } %>
       </div>
     </section>

	<script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
	<script type="text/javascript">
		twttr.conversion.trackPid('l5rsc', { tw_sale_amount: 0, tw_order_quantity: 1 });</script>
	<noscript>
		<img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=l5rsc&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=1" />
		<img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=l5rsc&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=1" /></noscript>

    <% } %>

    <% if (typeof submitted === "undefined") { %>
    <% for (var i in page.children) {
      var subpage = page.children[i];
      var cols = (subpage.link === 'speakers') ? '6' : '6';
      var adorn = (subpage.link === 'schedule') ? ' <i class="fa fa-calendar"></i> ' : ''; %>

        <section class="<%= subpage.link %>">
          <div class="container">
            <h2><a id="<%= subpage.link %>"><%- adorn + subpage.title + adorn %></a></h2>
            <% for (var j in subpage.content) { console.log(subpage.content[j]);
                if (subpage.content[j].kind === 'S') { %>
                  <%- subpage.content[j].data %>
                <% } else { %>
                  <article class="col-md-<%=cols%>">
                    <%- subpage.content[j].render() %>
                  </article>
                <% }
            } %>
          </div>

          <% if (i == 0) { %>
            <a class="calltoaction" href="#tickets">Register now</a>
          <% } %>
        </section>

    <% } %>

    <section class="tickets">
       <div class="container">
         <h2><a id="tickets">Register now</a></h2>

         <div class="col-md-6">
           <%- render({intro: 'N', kind: 'M'}) %>
         </div>

         <div class="col-md-6">
           <%- render({intro: 'N', kind: 'T'}) %>
         </div>
       </div>
    </section>
    <% } %>

    <section class="descriptive">
        <div class="container">
            <h2>The power of Javascript</h2>
            <p>Following last year’s success, 2015 brings a even more Javascript goodness. In this second edition of the Javascript Conference we now have a <strong>client</strong> and a <strong>server track</strong>, as well as many topics on the <strong>Internet of Things</strong>.</p>

          <p>This year we offer both <strong>hands-on workshops</strong> as well as <strong>speaker sessions</strong>,  enabling us to go in-depth as well as broadsighted in one go.</p>

          <p>The conference will be held at <strong>HOWEST</strong>, Rijselstraat 5 8000 <strong>Bruges</strong> on April 23rd 2015. All sessions and workshops will be hosted in English</p>
          <p> Take a look at the slides and pictures of last <a href="./2014">year</a></p>

          <hr>
          <p>We are currently offering <strong><a href="../data/files/31.pdf" target=_blank>sponsorship opportunities</a></strong> for JSConf 2015. Contact us for details. Great companies have supported us in 2014 – Thank you!</p>


          <!-- p>There still is room for <strong>1 or 2 extra speakers</strong>, please write a small abstract + a short resume about yourself and send it to info-at-jsconf.be</p -->

        </div>
    </section>

  </main>


  <% include foot.ejs %>

</body>
</html>
