<div class="contact-ticket clearfix">
    <div class="contact-image rounded"><%- render({name: 'image'}) %></div>
    <div class="contact-text rounded">
        <div class="contact-name"><%- render({name: 'name'}) %></div>
        <div class="contact-info">
            <%- render({name: 'number'}) %><br>
            <%- render({name: 'email'}) %>
        </div>
    </div>
</div>
<div class="contact-description">
    <%- render({name: 'description'}) %>
</div>