<span class="day-val"></span><span class="time-tag day-tag"><%-render({name: 'day tag'})%></span>
<span class="days-val"></span><span class="time-tag days-tag"><%-render({name: 'days tag'})%></span>
<span class="hour-val"></span><span class="time-tag hour-tag"><%-render({name: 'hour tag'})%></span>
<span class="min-val"></span><span class="time-tag min-tag"><%-render({name: 'min tag'})%></span>
<span class="sec-val"></span><span class="time-tag sec-tag"><%-render({name: 'sec tag'})%></span>
<span class="expired-tag"><%-render({name: 'expired'})%></span>